wget
appdirs
tempdir
multipledispatch
numpy
tqdm
termcolor
fire
tree_sitter>=0.22.0
tree-sitter-python
openai
accelerate
vllm
anthropic
mistralai
stop-sequencer
sparseml
rich
matplotlib
black
astor
evalplus